<div class="navbar bg-base-300 shadow-lg">

  <!-- LEFT SIDE -->
  <div class="navbar-start">

    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        ☰
      </label>

      <ul tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">

        <li><a href="/">Home</a></li>
        <li><a href="/crew">Crew</a></li>
        <li><a href="/recruit">Recruit</a></li>
        <li><a href="/log-pose">Log Pose</a></li>

      </ul>
    </div>

    <a href="/" class="btn btn-ghost text-xl">
      ⚓ Grand Line Registry
    </a>

  </div>


  <!-- CENTER MENU -->
  <div class="navbar-center hidden lg:flex">

    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Home</a></li>
      <li><a href="/crew">Crew</a></li>
      <li><a href="/recruit">Recruit</a></li>
      <li><a href="/log-pose">Log Pose</a></li>
    </ul>

  </div>


  <!-- RIGHT SIDE TITLE -->
  <div class="navbar-end">

    <span class="badge badge-outline">
      <%= title %>
    </span>

  </div>

</div>